.tweet-header {
  height: 620px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  background-color: #c7a620;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

header img {
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}

header p {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 30px;
  font-family: 'Source Sans 3', sans-serif;
  color: #f4f1ec;
}